{% extends 'base.html.twig' %}
{% block title %}Les recherches du site{% endblock %}
{% block body %}
    <div class="page-search">
        <div class="title">
            {% if dataSearch|length != 0 %}
                <h1>Les recherches du site</h1>
            {% else %}
                <h1>Aucune recherche</h1>
            {% endif %}
        </div>
        {% if dataSearch|length != 0 %}
            <div class="content-search">
                {% for data in dataSearch %}
                    <div class="item-player-search">
                        <a href="{{ path('player.search', {id: data.id}) }}" title="{{ data.last_name }}">
                            {{ data.first_name | upper }} {{ data.last_name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="delete-search">
                <a href="{{ path('search.delete') }}">Supprimez les recherches</a>
            </div>
        {% endif %}
    </div>


    <div class="content-paginator">
        {{ knp_pagination_render(dataSearch) }}
    </div>

{% endblock %}